<!DOCTYPE html>
<html>
<head>
    <title>Display Books</title>
</head>
<body>
    <table>
        <tr>
            <th>Book ID</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Image</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td><img src="{{ book[4] }}" alt="Book Image"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
