<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <h1>Main Menu</h1>
    <div id="menu">
        <a href="/issue_book">ISSUE_BOOK</a>
        <a href="/add_book">ADD_BOOK</a>
        <a href="/add_student">ADD_STUDENT</a>
        <a href="/search">SEARCH</a> 
        <a href="/delete">DELETE</a>
        <a href="/update_student">UPDATE_STUDENT</a>
        <a href="/update_book">UPDATE_BOOK</a>
        <a href="/fine_calculator">FINE_CALCULATOR</a>
        <a href="/display_students">DISPLAY STUDENTS</a>
        <a href="/display_books">DISPLAY BOOKS</a>
        <a href="/display_books_issued">DISPLAY ISSUED BOOKS</a>
        <a href="/display_fines">DISPLAY FINES</a>
        <a href="/view_requests">VIEW REQUESTS</a>
        <a href="/display_ratings"> DISPLAY RATINGS</a>





    </div>
</body>
</html>
