<!DOCTYPE html>
<html>
<head>
    <title>View Requests</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <h1>Requests</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for request in requests %}
        <tr>
            <td>{{ request[0] }}</td>
            <td>{{ request[1] }}</td>
            <td>
                <a href="/accept_request/{{ request[1] }}">Accept</a>
                <a href="/reject_request/{{ request[1] }}">Reject</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
